<div class="container-fluid carousel-display">
    <div class="row">
        <div class="col-sm-12">
            <div id="inam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                         <div class="container">
                            <div class="row">                                
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/EDM.jpg" class="card-img-top"></a>
                                    </div>                                                             
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/Drums.jpg" class="card-img-top"></a>
                                    </div>                                
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/tophits.jpeg" class="card-img-top"></a>
                                    </div>                             
                            </div>
                         </div>
                    </div>
                    <div class="carousel-item">
                         <div class="container">
                            <div class="row">                                
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/loveSongs.jpeg" class="card-img-top"></a>
                                    </div>                                
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/top200.jpeg" class="card-img-top"></a>
                                    </div>                               
                                    <div class="card zoom" style="width: 300px;margin: auto;">
                                        <a (click)="toptracks()"><img src="../../assets/img/sadsongs.jpeg" class="card-img-top"></a>
                                    </div>                                
                            </div>
                         </div>
                    </div>
                </div>
                <a href="#inam" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#inam" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
