@media screen and (max-width :1200px ){
   .carousel-display{
       display: none;
   }
}

.carousel-display{
    height: 300px;
    margin-top: 35px;
}

  
  .zoom:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }