.example-card {
    max-width:100%;
    max-height: 50vh;
    margin: 1em;
    padding:0.5em;
    border:2px solid orange;
    background-color: rgb(56, 55, 55) !important;
    color: white;
    overflow-x: none;
    }
.space-detail{
  min-height: 70%;
}
    .image{
      max-width:100%;
    max-height: 30vh;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0.2em;
      }
      .play_button{
        display:flex;
        justify-content: flex-end;
        }
        .btn_sec{
        flex-wrap: wrap;
        /* margin: 0.2em;
        padding: 0.5em; */
        text-align: center;
        }
        .btn_one{
          align-items: center;
          padding-left: 110px;
           width:10vw;
        }
        .favplay{
        justify-content: space-between;
        }
        .title{
          font-weight: bold;
        }