.country_list{
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  /* margin-bottom: -20vh !important; */
  padding: 15px;
  min-height: 70%;
  padding-bottom: 0 !important;
}
example-card {
    max-width: 500px;
    margin-left: 2.5em;
    padding:0.5em;
    /* border:2px solid blue; */
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  .image{
    height:20vh;
    width:20vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.2em;
    
  }
  .play_button{
    display:flex;
    justify-content: flex-end;
  }
  .btn_sec{
    flex-wrap: wrap;
    /* margin: 0.2em;
    padding: 0.5em; */
    text-align: center;

  }
  .btn_one{
    margin: 0.3em;
    width:10vw;
  
  }
  .favplay{
    justify-content: space-between;
  }
  .pagination-css{
    background-color: rgba(136, 107, 69, 0.924) !important;
    margin-left: 40vw;
    padding-right: 5px;
    padding-left: 0px;
    /* border-radius: 1.5em; */
    position: relative;
    display: inline-block;
      /* padding-top:0; */
    margin-top:0 !important;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 320px) and (max-width: 568px) {
    #pagination-id {
      margin-left: 20vw;
      position: relative;
      display: inline-block;
      top: 0;
      /* transform: translate(0, 50%); */
    }
    #country_id{
      display: flex;
      flex-wrap: wrap;
      margin: 0.5em;
      /* margin-bottom: 0; */
      padding:15px;
      min-height: 70%;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    #pagination-id {
      margin-left: 20vw;
      position: relative;
      display: inline-block;
      top: 0;
      /* transform: translate(0, 50%); */
    }
  }
  @media screen and (min-width: 868px) and (max-width: 1026px) {
    #pagination-id {
      margin-left: 20vw;
      position: relative;
      display: inline-block;
      top: 0;
      
    }
  }