<section class="footer-section foot">
  <div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 contact">
        <h2 class="info">Contact Us</h2>
        <h5 class="info">Our Address and Contact Information</h5>
        <h6 class="info">StackRoute, Kormangala, Bangluru, karnataka, India</h6>
        <h6 class="info">+91 8411926122</h6>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 connect">
        <h2 class="info">Connect with us</h2>
        <a href="https://www.facebook.com/" target="_blank"><span class="space info"> <i class="fa fa-facebook"></i></span></a>
        <a href="https://www.linkedin.com/" target="_blank"><span class="space info"> <i class="fa fa-linkedin"></i></span></a>
        <a href="https://twitter.com/" target="_blank"> <span class="space info"><i class="fa fa-twitter"></i></span></a>
        <a href="https://www.youtube.com/" target="_blank"> <span class="space info">  <i class="fa fa-youtube"></i></span></a>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 pg">
        <img src="../../assets/img/pg.gif" class="img-fluid img" alt="fggh">
      </div>
    </div>

  </div>

</section>